* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background: #001529;
  color: #fff;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}
h2.custom.title {
  margin: auto;
  color: #fff;
}

.site-layout-content {
  padding: 24px;
  background: #fff;
}

.ant-card {
  border-radius: 8px;
}

.ant-card-body {
  padding: 24px;
}

.ant-form-item {
  margin-bottom: 16px;
}

.ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
}

.custom-form {
  border: none;
}

.custom-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: none;
}

.ant-select {
  border: none;
  box-shadow: none;
}

.ant-form-item {
  margin-bottom: 16px;
}

.ant-form-item-label {
  margin-bottom: 8px;
}
.card {
  display: flex;
  justify-content: center;
}
div fieldset[id="root"] {
  border: none;
}
